* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1, h4 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: initial;
}

.loader-container {
  position: absolute;
  z-index: 2;
  background: #EAEAEA;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: out 3s ease-in-out forwards;
}
@keyframes out {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
.loader-container .utensils {
  width: 50px;
  height: 50px;
  margin: 0 16px;
  animation: loader infinite 0.3s alternate;
}
.loader-container .u1 {
  color: #008766;
}
.loader-container .u2 {
  color: #89C8FA;
  animation-delay: 0.05s;
}
.loader-container .u3 {
  color: #003A68;
  animation-delay: 0.1s;
}
.loader-container .u4 {
  color: #9356DC;
  animation-delay: 0.15s;
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.navbar__img {
  margin: 0.9rem 0 0.9rem 0;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem 0 1.4rem 0;
  background-color: #EAEAEA;
}
.location__link {
  color: #353535;
}

.searchandfind {
  background-color: #F6F6F6;
  padding: 1rem 2rem 3rem 2rem;
  text-align: center;
}
.searchandfind__title {
  padding: 0 0.5rem 0 0.5rem;
}
@media (min-width: 769px) {
  .searchandfind__title {
    font-size: 2.5em;
  }
}
.searchandfind__text {
  font-weight: 300;
  font-size: 1.1rem;
  color: #353535;
}
.searchandfind__btn {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  width: 218px;
  font-weight: 500;
  background-image: linear-gradient(-2deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  padding: 16px 0;
  margin-top: 1em;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.25);
  transition: background-image 0.5s ease-out, box-shadow 0.5s ease-out;
}
.searchandfind__btn:hover, .searchandfind__btn:active {
  background-image: linear-gradient(-2deg, #a16be0 -11.44%, #ff93e1 123.93%);
  box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.27);
}

.filters {
  padding: 1.4rem 1.3rem 2.5rem 1.3rem;
}
@media (min-width: 769px) {
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.9em;
    padding: 2em 9em 2em 8em;
  }
}
@media (min-width: 769px) {
  .filters__title {
    grid-column: 1/4;
  }
}
.filters__card {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
  padding: 11px 10px 11px 0;
  margin: 0 0 1.5em 0.9em;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.filters__card--number {
  text-align: center;
  transform: translate(-13px);
  color: #FFFFFF;
  background-color: #9356DC;
  padding: 3px 8px 3px 8px;
  border-radius: 100%;
}
.filters__card--img {
  margin-bottom: 8px;
}

.restaurants {
  padding: 1.4rem 1.3rem 2.5rem 1.3rem;
  background-color: #F6F6F6;
  display: flex;
  flex-flow: column;
}
@media (min-width: 769px) {
  .restaurants {
    padding: 2em 8em 2em 8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2em;
    grid-column-gap: 6em;
  }
}
@media (min-width: 769px) {
  .restaurants__title {
    grid-column: 1/3;
    margin: 0;
  }
}
.restaurants .restaurants-card {
  width: 100%;
  height: 255px;
  margin-top: 1em;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-flow: column;
}
.restaurants .restaurants-card__img {
  position: relative;
  width: 100%;
  height: 165px;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurants-card__img--cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurants-card__img--new {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  width: 80px;
  height: 29px;
}
.restaurants .restaurants-card__img--new .restaurants-card__img-txt {
  margin: 0;
  padding: 6px 0 0 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
.restaurants .restaurants-card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.restaurants .restaurants-card__content .card-title {
  margin: 0;
  padding: 0.9rem 0 0.5rem 1rem;
}
.restaurants .restaurants-card__content .card-text {
  margin: 0;
  padding-left: 1rem;
  font-weight: 300;
}
.restaurants .restaurants-card__content--like {
  position: relative;
  margin: 1.5em;
}
.restaurants .restaurants-card__content--like .likeempty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -50%);
  font-size: 1.5em;
}
.restaurants .restaurants-card__content--like .likeempty:hover, .restaurants .restaurants-card__content--like .likeempty:focus, .restaurants .restaurants-card__content--like .likeempty:active {
  display: none;
}
.restaurants .restaurants-card__content--like .likefull {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -50%);
  background-image: linear-gradient(-2deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5em;
}
.restaurants .restaurants-card__content--like .likefull:hover, .restaurants .restaurants-card__content--like .likefull:focus, .restaurants .restaurants-card__content--like .likefull:active {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding: 0.8rem 1.3rem 1rem 1.3rem;
}
@media (min-width: 769px) {
  footer {
    height: 100px;
  }
}
@media (min-width: 769px) {
  footer .infoslinks {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }
}
footer .infoslinks__title {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 400;
}
@media (min-width: 769px) {
  footer .infoslinks__title {
    position: absolute;
    margin: 0;
    top: 60px;
    right: 25px;
  }
}
footer .infoslinks__txt {
  font-weight: 500;
}
@media (min-width: 769px) {
  footer .infoslinks__txt {
    margin-right: 1em;
  }
}
footer .infoslinks__txt img {
  margin-right: 10px;
}
@media (min-width: 769px) {
  footer .infoslinks__links {
    display: flex;
    margin: 0 12em 0 2em;
    gap: 1em;
  }
}
footer .infoslinks a {
  color: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */